<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board of Trustees </title>

    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<style>
    h1 {
        background-image: url('assets/images/logo2.jpg');
    }
</style>


<body>
    <h1 class="title"> Board of Trustees </h1>

    <p><b> श्री श्री १०८ श्री राम कृपाल दास परमहंस आश्रम (गृहस्थ) उमरहन <br> <br> Board of Trustees</b></p>

    <div class="tree">
        <ul>
            <li>
                <div class="card">
                    <img src="/assets/images/IMG_CEO.jpg" alt="RB Sharma">
                    <h3>RB Sharma</h3>
                    <p>Chairman & CEO</p>
                </div>
                <ul>
                    <li>
                        <div class="card">
                            <img src="/assets/images/IMG_CEO_3.jpg" alt="DP Sharma">
                            <h3>DP Sharma</h3>
                            <p>Vice President - Operations</p>
                        </div>
                        <ul>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/IMG_CEO_7.jpg" alt="AK Sharma">
                                    <h3>AK Sharma</h3>
                                    <p>Operations Manager</p>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/IMG_CEO_2.jpg" alt="VB Sharma">
                                    <h3>VB Sharma</h3>
                                    <p>Project Manager</p>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/IMG_CEO_8.jpg" alt="ManMohan Sharma">
                                    <h3>ManMohan Sharma</h3>
                                    <p>Project Manager</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="card">
                            <img src="/assets/images/IMG_CEO_6.jpg" alt="RP Sahrma">
                            <h3>RP Sahrma</h3>
                            <p>Vice President - Finance</p>
                        </div>
                        <ul>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/IMG_CEO_5.jpg" alt="PK Sharma">
                                    <h3>PK Sharma</h3>
                                    <p>Finance Manager</p>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/IMG_CEO_9.jpg" alt="RB Sharma">
                                    <h3>RB Sharma</h3>
                                    <p>DGM Accountant </p>
                                </div>
                            </li>
                            <li>
                                <div class="card">
                                    <img src="/assets/images/IMG_CEO_10.jpg" alt="DK Sharma">
                                    <h3>DK Sharma</h3>
                                    <p>Accountant</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>

</html>